{% extends "layout.html" %} {% block body %}
<section>
  <header>
    <h2>{{ tournament.name }}</h2>
    <p>{{ tournament.description }}</p>
    <h3>Participants:</h3>
    <section>
    <table>
      <tbody>
      {% for user in users %}
          <tr>
            <td>
            {{ user.Users.name }} 
           </td>
          </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

    <a href="{{ url_for('tournament_join',tournament_id=tournament.tournament_id) }}">
      <b>Join Tournament</b>
    </a>
  
    <a href="{{ url_for('tournament_part',tournament_id=tournament.tournament_id) }}">
      <b>Leave Tournament</b>
    </a>
    
  </header>
</section>
{% endblock %}
