{% extends "layout.html" %} {% block body %}

  <section>
    {% if current_user.is_authenticated %}

    <header><h1>Tournaments</h1></header>
    {% for tournament in tournaments %} {% if current_user.users_id ==
    tournament.owner %}
    <aside>
      <h3>{{ tournament.name }}  </h3> 
      <!-- <small><i>x participants </i></small> -->
      {% if tournament.status == 1 %}
      <sup> This tournament is in progress</sup>
      {% else %}
      {% endif %}
      <p>{{ tournament.description }}</p>
      <a style="padding-right: 14px;"
        href="{{url_for('tournament_view',tournament_id=tournament.tournament_id)}}"
        >View</a
      >
      <a
        href="{{url_for('tournament_edit_form',tournament_id=tournament.tournament_id)}}"
        >Edit</a
      >
      <a
        style="float: right; color: rgb(233, 78, 78);"
        href="{{url_for('tournament_delete',tournament_id=tournament.tournament_id)}}"
        >Delete</a
      >
    </aside>
    {% else %}
    <aside>
      <h3>{{ tournament.name }}</h3> 
      <p>{{ tournament.description }}</p> 
      <a
        href="{{url_for('tournament_view',tournament_id=tournament.tournament_id)}}"
        >View</a
      >
    </aside>
    {% endif %}
    {% endfor %} {% else %}

    <p>
      Here be dragons
    </p>
    {% endif %}
  </section>

{% endblock %}
