<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"">
    
    <title>Toorny</title>
  </head>
  <body>
    <header>
      <nav>
        <h1><a href="/">Toorny</a></h1>
        <ul>
          {% if current_user.is_authenticated %}
          <li><p>Hello {{ current_user.name}}!</p></li>
          <li>
            <a href="{{url_for('tournament_form')}}">Create Tournament</a>
          </li>
          <li><a href="{{url_for('logout')}}">Log Out</a></li>
          {% else %}
          <li><a href="{{url_for('register_form')}}">Register</a></li>
          <li><a href="{{url_for('login_form')}}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% if error is defined  %}
          <sup>{{error}}</sup>
        {% endif %}
        {% for error in errors %}
          <sup>{{error}}</sup>
        {% endfor %}
    {% block body %} {% endblock %}
    </main>
  </body>
</html>
